<main>
  <h1 class="title">{{vm.title}}</h1>
  <section>
    <h2 class="subtitle">{{vm.galleryname}}</h2>

    <!-- gallery -->
    <div class="gallery_filter">
      <span>filter :</span>
      <button class="filter">
        by year
      </button>
      <button class="filter">
        by title
      </button>
    </div>

    <ul class="gallery">
      <li
        ng-repeat="image in vm.images"
        class="gallery_container"
        ng-init="image.bigger = false"
        ng-click="image.bigger = ! image.bigger; vm.bigger = image.bigger"
      >
        <figure class="gallery_figure" ng-class="{'gallery_figure--bigger' : image.bigger}">
          <div class="gallery_wrapper">
            <img class="gallery_image" src="{{image.filename}}" alt="{{image.title}}" />
          </div>
          <figcaption class="gallery_caption" ng-show="image.bigger">{{image.description}}</figcaption>
        </figure>
      </li>
    </ul>
  </section>
  <div class="overlay" ng-class="{'overlay--active' : vm.bigger}"></div>
</main>
