/* styles in src/style directory are applied to the whole page */

* {
  box-sizing: border-box;
}

body {
  background: #ecf0f1;
  color: #333;
  margin: 0;
  padding: 0;
}

.filter {
  background-color: #fff;
}

main {
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  display: block;
}

.title{
  text-transform: uppercase;
  font-size: 3.2rem;
  background-color: #1abc9c;
  margin-top: 0;
  padding: 2rem;
}

.subtitle {
  font-size: 2.2rem;
  opacity: .7;
}

.gallery {
  margin: 0;
  padding: 0;
}
  .gallery_container {
    display: inline-block;
    width:15%;
    height: 15%;
    margin: 2%;
  }

    .gallery_figure {
      width: 100%;
      height: 100%;
      -webkit-margin-before: 0;
      -webkit-margin-after: 0;
      -webkit-margin-start: 0;
      -webkit-margin-end: 0;
      transform: translate(0, 0);
    }

    .gallery_figure--bigger {
      position: fixed;
      width: 600px;
      height: 450px;
      top: 50%;
      left: 50%;
      transition: all .4s ease-in;
      transform: translate(-50%, -50%);
      z-index: 3;

    }

    .gallery_figure--bigger .gallery_image {
      opacity: 1;
    }

    .gallery_wrapper:hover .gallery_image{
      opacity: 1;
    }

  .gallery_wrapper {
    width: 100%;
    overflow: hidden;
    background-color: #999;
  }

    .gallery_image {
      border:none;
      box-shadow: none;
      width: 110%;
      opacity: .5;
      transition: opacity .2s ease;
    }

.gallery_caption {
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem;
  position: absolute;
  width: 100%;
  top: 0;
  background-color: rgba(0,0,0,.7);
}

.overlay {
  background-color: rgba(0, 0, 0, .6);
  opacity: 0;
  transition: opacity .3s ease-in;
}

  .overlay--active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 1;
  }
